*{
    font-size: 3vh;
    text-align: center;
}
button{
    padding: 1vh 2vh;
    width: 100%;
    background-color: rgb(65,164,69);
    color: white;
    cursor: pointer;
}
.field{
    /* margin-bottom: 2vh; */
    height: 4vh;
    /* width: 12vh; */
}
.bod{
    background-color: rgb(253,251,253);
    width:20%;
    height: max-content;
    /* text-align: center; */
    margin: auto auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}
body{
    background-color: rgb(139,136,138);
    margin: 0;
    padding: 0;
}
.input{
    display: flex;
    flex-direction: column;
     margin-bottom: 2vh;
}
span{
    color: red;
}
.success{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(53,123,247);
    font-size: 4vh;
}
.success{
    font-size: 3vh;
}
.value{
    font-size: 4vh;
}
.nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 2vh 3vh;
}

.sub-nav {
    display: flex;
    color: white;
}

.Heading1 {
    margin-right: 1vh;
}

.Link{
    color: white;
    font-size: 3vh;
    margin-right: 15px;
    text-decoration: none;
}

.content{
    text-align: center;
    margin-top: 10px;
    font-size: 5vh;
    font-weight: 700;
}

.bod{
    text-align: center;
    margin-top: 10px;
    font-size: 5vh;
    font-weight: 700;
}